<% if user_signed_in? %> 
	<h1>Editing Profile</h1>

	<% if current_user.id == @profile.user_id %>
		<%= render 'form', profile: @profile %>
	<% else %>
	<strong>Não é possível editar um perfil que não é seu.</strong>
	<% end %>
	<br>
	<%= link_to 'Show', @profile %>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>