<% if user_signed_in? %> 
  <p id="notice"><%= notice %></p>

  <h1>Profiles</h1>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.user_id %></td>
          <td><%= profile.description %></td>
          <td><%= link_to 'Show', profile %></td>
          <% if current_user.id == profile.user_id %>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Profile', new_profile_path %>
<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
