<% if user_signed_in? %> 
	
	<nav class="navbar navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%>
  </a>
</nav>
	<br>
	<br>
	<strong>Add your description:</strong>
	<br>
	<br>
	<%= render 'form', profile: @profile %>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<button type="button" class="btn btn-warning">
    	<%= link_to 'Back', root_path, :style=>'color:#FFFFFF;', :class => "css_class" %>		
    </button>

<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
