<% if user_signed_in? %> 
	<p id="notice"><%= notice %></p>

	<nav class="navbar fixed-top navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%><button type="button" class="btn btn-warning">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;', :class => "css_class" ) %></button> 
  </a>
</nav>
<br>
<br>
<br>
	<nav class="navbar navbar-warning bg-warning">
		<button type="button" class="btn btn-warning">
			<%= link_to'Main Page', root_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %> 
		</button>
		<br>
		<% if current_user.id == @profile.user_id %>


		<button type="button" class="btn btn-warning">
			<%= link_to 'Edit Profile', edit_profile_path(@profile),{:style=>'color:#FFFFFF;', :class => "css_class"} %>
		</button>

		<button type="button" class="btn btn-warning">
			<%= link_to "Edit User", edit_user_registration_path,{:style=>'color:#FFFFFF;', :class => "css_class"}%>
		</button>
			<% if current_user.library == nil %>
				<%= link_to'Create Library', new_library_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %>
			<% else %>
		<button type="button" class="btn btn-warning">
				<%= link_to'View Your Library', current_user.library,{:style=>'color:#FFFFFF;', :class => "css_class"} %>
		</button>
			<% end %>
		<% else %>
		<button type="button" class="btn btn-warning-dark">
			<%= link_to'View Library', library_path(@profile.user_id),{:style=>'color:#FFFFFF;', :class => "css_class"}%>
		</button>
		<% end %>
	</nav>

	<br>

	<p>
	  <strong><%= User.find(@profile.user_id).firstname + " " + User.find(@profile.user_id).lastname %></strong>
	</p>

	<p>
	  <strong><%= User.find(@profile.user_id).username%></strong>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @profile.description %>
	</p>

	<% User.find(@profile.user_id).posts.each do |post| %>
	<nav class="navbar navbar-light bg-light">
  		<span class="navbar-text">
			<%= link_to(post.post, post_path(post)) %>
			<br>
			Created at: 
			<%= post.created_at%>
	  	</span>
	</nav>
	<br>

	<%end%>

<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
