
<nav class="navbar fixed-top navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%>
  </a>
</nav>
<br>
<br>
<br>
<br>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First Name" %>
  </div><br />

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname, autocomplete: "lastname",placeholder: "Last Name" %>
  </div><br />

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autocomplete: "username", placeholder: "User Name" %>
  </div><br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email@..." %>
  </div><br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div><br />
<% end %>

<%= render "devise/shared/links" %>
