<% if user_signed_in? %> 
	<h1>Editing Library</h1>

	<%= render 'form', library: @library %>

	<%= link_to 'Show', @library %> |
	<%= link_to 'Back', libraries_path %>
<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>