<% if user_signed_in? %> 
  <% if current_user == current_user %>
    <strong>Acess denied! You cant see this page!</strong>
  <% else %>
    <p id="notice"><%= notice %></p>

    <h1>Libraries</h1>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to 'Show', library %></td>
            <td><%= link_to 'Edit', edit_library_path(library) %></td>
            <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Library', new_library_path %>
  <% end %>
<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
