<% if user_signed_in? %> 
	<h1>New Library</h1>

	<%= render 'form', library: @library %>

<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>
