<% if user_signed_in? %> 

	<p id="notice"><%= notice %></p>

	<nav class="navbar fixed-top navbar-white bg-white">
  		<a class="navbar-brand">
    		<%= image_tag "SharequillLogoBar", :size => "211x70"%>
		</a>
	</nav>
	<br>
	<br>
	<br>

<nav class="navbar navbar-warning bg-warning">
	<% if current_user.id == @library.user_id %>
	<button type="button" class="btn btn-warning">
		<%= link_to 'New Archive', new_archive_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %>
	</button>
		<br>
	<% end %>
	<button type="button" class="btn btn-warning">
		<%= link_to 'Back', profile_path(@library.user_id),{:style=>'color:#FFFFFF;', :class => "css_class"} %>
	</button>
	<br>
</nav>
	<br>
	<br>
	<p>
	  <strong><%= User.find(@library.user_id).firstname + " " + User.find(@library.user_id).lastname %> 's library</strong>
	</p>

	<br>


	<% User.find(@library.user_id).archives.each do |archive| %>
		<nav class="navbar navbar-light bg-light">
  			<span class="navbar-text">
				<%= link_to(archive.title, archive_path(archive)) %>
	 		</span>
		</nav>
		<br>
	<%end%>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>