<% if user_signed_in? %> 
  <p id="notice"><%= notice %></p>

  <nav class="navbar fixed-top navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%><button type="button" class="btn btn-warning">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;', :class => "css_class" ) %></button> 
  </a>
</nav>
  <br>
  <br>
  <br>
  <br>
  <br>
    <% if current_user.profile == nil %>

          <nav class="navbar navbar-white bg-white">
      <span class="navbar-text">
        <p><font color="red">You didn't finished your registration yet!</font></p>
        <p><font color="red">Please finish your profile adding a description.</font></p>
      </span>
    </nav>

      <button type="button" class="btn btn-warning btn-lg btn-block">
      <%= link_to('Create Profile', new_profile_path,{:style=>'color:#FFFFFF;', :class => "css_class" }) %></button> 

    <% else %>
      <button type="button" class="btn btn-warning btn-lg btn-block">
      <%= link_to('View Your Profile', current_user.profile,{:style=>'color:#FFFFFF;', :class => "css_class" }) %></button> 

      <br>
      <button type="button" class="btn btn-warning btn-lg btn-block">
      <%= link_to('Feed', posts_path,{:style=>'color:#FFFFFF;', :class => "css_class"}) %></button> 

    <% end %>  

<% else %>

  <h1>
<nav class="navbar navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%>
  </a>
</nav>
  </h1>
  <br>
  <br>
  <br>
  <br>
  <th>
    <button type="button" class="btn btn-warning btn-lg btn-block">
      <%= link_to('Login', new_user_session_path,{:style=>'color:#FFFFFF;', :class => "css_class" }) %></button> 
  </th>
  <br>
  <br>
  <th>
    <button type="button" class="btn btn-warning btn-lg btn-block">
      <%= link_to('Sign Up', new_user_registration_path,{:style=>'color:#FFFFFF;', :class => "css_class"}) %></button>   
  </th>

<% end %>