<% if user_signed_in? %> 
	<h1>Editing Archive</h1>

	<%= render 'form', archive: @archive %>

	<%= link_to 'Show', @archive %> |
	<%= link_to 'Back', library_path(@archive.user_id) %>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>