<% if user_signed_in? %> 
  <% if current_user == current_user %>
    <strong>Acess denied! You cant see this page!</strong>
  <% else %>
    <p id="notice"><%= notice %></p>

    <h1>Archives</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @archives.each do |archive| %>
          <tr>
            <td><%= archive.title %></td>
            <td><%= archive.text %></td>
            <td><%= link_to 'Show', archive %></td>
            <td><%= link_to 'Edit', edit_archive_path(archive) %></td>
            <td><%= link_to 'Destroy', archive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Archive', new_archive_path %>
  <% end %>

<% else %>
  <strong>You need to login to see this page!</strong>
  <br>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
