<% if user_signed_in? %> 
	
	 <nav class="navbar fixed-top navbar-white bg-white">
  		<a class="navbar-brand">
    		<%= image_tag "SharequillLogoBar", :size => "211x70"%><button type="button" class="btn btn-warning">
    		<%= link_to('Logout', destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;', :class => "css_class" ) %></button> 
  		</a>
	</nav>
	
	<br>
	<br>
	<br>
	<br>
		<%= render 'form', archive: @archive %>
		<button type="button" class="btn btn-warning">
			<%= link_to 'Back', profile_path(current_user.id), :style=>'color:#000000;', :class => "css_class" %>
		</button>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>
