<% if user_signed_in? %> 

	<nav class="navbar navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%>
  </a>
</nav>


	<p id="notice"><%= notice %></p>

	<h1>
		<p class="text-center">
	  		<strong><%= @archive.title %></strong>
		</p>
	</h1>
	<br>
	<p class="text-justify">
	  <%= simple_format @archive.text %>
	</p>

<nav class="navbar navbar-white bg-white">
	<% if current_user.id == @archive.user_id %>
		<button type="button" class="btn btn-warning">
			<%= link_to 'Edit', edit_archive_path(@archive),{:style=>'color:#FFFFFF;', :class => "css_class"} %>
		</button>
		<br>
		<br>
	<% end %>
	<button type="button" class="btn btn-warning">
		<%= link_to 'Back',  library_path(@archive.user_id),{:style=>'color:#FFFFFF;', :class => "css_class"} %>
	</button>
	<br>
	<br>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>

</nav>
