<% if user_signed_in? %> 
  <p id="notice"><%= notice %></p>

  <nav class="navbar fixed-top navbar-white bg-white">
  <a class="navbar-brand">
    <%= image_tag "SharequillLogoBar", :size => "211x70"%><button type="button" class="btn btn-warning">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :style=>'color:#FFFFFF;', :class => "css_class" ) %></button> 
  </a>
</nav>
    <br>
      <br>
  <br>
  <br>


  <button type="button" class="btn btn-warning">
    <%= link_to 'Main page', root_path, :style=>'color:#FFFFFF;', :class => "css_class"%>
  </button>

  <br>

  <br>

    <button type="button" class="btn btn-warning">
    <%= link_to 'New Post', new_post_path,:style=>'color:#FFFFFF;', :class => "css_class"%>
    </button>

    <br>
    <br>

    <tbody>
      <% @posts.each do |post| %>
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
            @<%=link_to(User.find(post.user_id).username, profile_path(post.user_id),:style=>'color:#EB6123;', :class => "css_class")%>
            <br>
            <%= post.post %>
            <br>
            <% if current_user.id == post.user_id %>
             | <%= link_to 'Edit', edit_post_path(post),:style=>'color:#EB6123;', :class => "css_class" %> |
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' },:style=>'color:#EB6123;', :class => "css_class"%> |
              <br>
            <% end %>
          </span>
        </nav>
        <br>
        <br>
      <% end %>
    </tbody>


  <br>

<% else %>
<strong>You need to login to see this page!</strong>
<br>
<%= link_to('Login', new_user_session_path) %>
<% end %>