<% if user_signed_in? %> 
	<p id="notice"><%= notice %></p>

	  <strong><%=User.find(@post.user_id).username%>:</strong>
	  <br>
	  <%= @post.post %>
	<br>
	<% if current_user.id == @post.user_id %>
		<%= link_to 'Edit', edit_post_path(@post) %>   |
		<td><%= link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }%></td>
	<% end %>
	<br>
	<br>
	<%= link_to 'Back to Feed', posts_path %>
	<br>
	<%= link_to 'Back to Profile', profile_path(@post.user_id) %>
<% else %>
	<strong>You need to login to see this page!</strong>
	<br>
	<%= link_to('Login', new_user_session_path) %>
<% end %>